<div class="panel panel-primary" ng-form="targetF">

    <div class="panel-heading">
        <h3 class="panel-title">Target</h3>
    </div>

    <ul class="list-group">

        <li class="list-group-item">

            <div class="input-group target-input" ng-class="{'has-error' : !targetF.amount.$valid }">
                <div class="input-group-addon left-side">Amount</div>
                <input type="number" class="form-control text-right" name="amount" min="0" step="1" ng-model="targetP.amount" ng-change="count()" required>
                <div class="input-group-addon">
                    <span class="right-side-ml">ml</span>
                </div>
            </div>

            <div class="alert alert-danger alert-target" role="alert" ng-hide="targetF.amount.$valid">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> insert a value bigger than 100
            </div>

        </li>

        <li class="list-group-item">

            <div class="input-group target-input" ng-class="{'has-error' : !targetF.nicotine.$valid }">
                <div class="input-group-addon left-side">Nicotine</div>
                <input type="number" class="form-control text-right" name="nicotine" min="0" max="{{nblP.nicotine}}" step="1" ng-model="targetP.nicotine" ng-change="count()" required>
                <div class="input-group-addon">
                    <span class="right-side-nicotine">
								<sup>mg</sup>/<sub>ml</sub>
							</span>
                </div>
            </div>

            <div class="alert alert-danger alert-target" role="alert" ng-hide="targetF.nicotine.$valid">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> insert a value between 0 and {{nblP.nicotine}}
            </div>

        </li>

        <li class="list-group-item">

            <div class="input-group target-input" ng-class="{'has-error' : !targetF.pg.$valid }">
                <div class="input-group-addon left-side">PG</div>
                <input type="number" class="form-control text-right" name="pg" min="{{(ferP.nblML / targetP.amount)*nblP.pg | number:2}}" max="100" step="1" ng-model="targetP.pg" ng-change="count()" required>
                <div class="input-group-addon">
                    <span class="right-side">%</span>
                </div>
            </div>

            <div class="alert alert-danger alert-target" role="alert" ng-hide="targetF.pg.$valid">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> insert a value between {{(ferP.nblML / targetP.amount)*nblP.pg | number:2}} and 100
            </div>

        </li>

        <li class="list-group-item">

            <div class="input-group target-input" ng-class="{'has-error' : !targetF.vg.$valid }">
                <div class="input-group-addon left-side">VG</div>
                <input type="number" class="form-control text-right" name="vg" min="{{(ferP.nblML / targetP.amount)*nblP.vg | number:2}}" max="100" step="1" ng-model="targetP.vg" ng-change="count()" required>
                <div class="input-group-addon">
                    <span class="right-side">%</span>
                </div>
            </div>

            <div class="alert alert-danger alert-target" role="alert" ng-hide="targetF.vg.$valid">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> insert a value between 0 and 100
            </div>

        </li>

        <li class="list-group-item">

            <div class="input-group target-input" ng-class="{'has-error' : !targetF.water.$valid }">
                <div class="input-group-addon left-side">Water</div>
                <input type="number" class="form-control text-right" name="water" min="{{(ferP.nblML / targetP.amount)*nblP.water | number:2}}" max="100" step="1" ng-model="targetP.water" ng-change="count()" required>
                <div class="input-group-addon">
                    <span class="right-side">%</span>
                </div>
            </div>

            <div class="alert alert-danger alert-target" role="alert" ng-hide="targetF.water.$valid">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span> insert a value between {{(ferP.nblML / targetP.amount)*nblP.water | number:2}} and 100
            </div>

        </li>

    </ul>

    <div class="panel-footer"></div>

</div>