<div class="row" ng-controller="ejcalc">

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

		<div class="panel panel-primary" ng-form="nblF">

			<div class="panel-heading">
				<h3 class="panel-title">Nicotine base liquid</h3>
			</div>

			<ul class="list-group">

				<li class="list-group-item">

					<div class="input-group nbl-input" ng-class="{'has-error' : !nblF.pg.$valid }">
						<div class="input-group-addon left-side">PG</div>
						<input type="number" class="form-control text-right" name="pg" min="0" max="100" step="1" ng-model="nblP.pg" required>
						<div class="input-group-addon">
							<span class="right-side">%</span>
						</div>
					</div>

					<div class="alert alert-danger alert-nbl" role="alert" ng-hide="nblF.pg.$valid">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span> insert a value between 0 and 100
					</div>

				</li>

				<li class="list-group-item">

					<div class="input-group nbl-input" ng-class="{'has-error' : !nblF.vg.$valid }">
						<div class="input-group-addon left-side">VG</div>
						<input type="number" class="form-control text-right" name="vg" min="0" max="100" step="1" ng-model="nblP.vg" required>
						<div class="input-group-addon">
							<span class="right-side">%</span>
						</div>
					</div>

					<div class="alert alert-danger alert-nbl" role="alert" ng-hide="nblF.vg.$valid">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span> insert a value between 0 and 100
					</div>

				</li>

				<li class="list-group-item">

					<div class="input-group nbl-input" ng-class="{'has-error' : !nblF.water.$valid }">
						<div class="input-group-addon left-side">Water</div>
						<input type="number" class="form-control text-right" name="water" min="0" max="100" step="1" ng-model="nblP.water" required>
						<div class="input-group-addon">
							<span class="right-side">%</span>
						</div>
					</div>

					<div class="alert alert-danger alert-nbl" role="alert" ng-hide="nblF.water.$valid">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span> insert a value between 0 and 100
					</div>

				</li>

				<li class="list-group-item">

					<div class="input-group nbl-input" ng-class="{'has-error' : !nblF.nicotine.$valid }">
						<div class="input-group-addon left-side">Nicotine</div>
						<input type="number" class="form-control text-right" name="nicotine" min="0" max="100" step="1" ng-model="nblP.nicotine" required>
						<div class="input-group-addon">
							<span class="right-side-nicotine">
								<sup>mg</sup>/<sub>ml</sub>
							</span>
						</div>
					</div>

					<div class="alert alert-danger alert-nbl" role="alert" ng-hide="nblF.nicotine.$valid">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span> insert a value bigger than 100
					</div>

				</li>

			</ul>

			<div class="panel-footer"></div>

		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

		<div class="panel panel-primary" ng-form="targetF">

			<div class="panel-heading">
				<h3 class="panel-title">Target</h3>
			</div>

			<ul class="list-group">

				<li class="list-group-item">

					<div class="input-group target-input" ng-class="{'has-error' : !targetF.amount.$valid }">
						<div class="input-group-addon left-side">Amount</div>
						<input type="number" class="form-control text-right" name="amount" min="0" step="1" ng-model="targetP.amount" required>
						<div class="input-group-addon">
							<span class="right-side-ml">ml</span>
						</div>
					</div>

					<div class="alert alert-danger alert-target" role="alert" ng-hide="targetF.amount.$valid">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span> insert a value bigger than 100
					</div>

				</li>

				<li class="list-group-item">

					<div class="input-group target-input" ng-class="{'has-error' : !targetF.nicotine.$valid }">
						<div class="input-group-addon left-side">Nicotine</div>
						<input type="number" class="form-control text-right" name="nicotine" min="0" step="1" ng-model="targetP.nicotine" required>
						<div class="input-group-addon">
							<span class="right-side-nicotine">
								<sup>mg</sup>/<sub>ml</sub>
							</span>
						</div>
					</div>

					<div class="alert alert-danger alert-target" role="alert" ng-hide="targetF.nicotine.$valid">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span> insert a value bigger than 100
					</div>

				</li>

				<li class="list-group-item">

					<div class="input-group target-input" ng-class="{'has-error' : !targetF.pg.$valid }">
						<div class="input-group-addon left-side">PG</div>
						<input type="number" class="form-control text-right" name="pg" min="0" max="100" step="1" ng-model="targetP.pg" required>
						<div class="input-group-addon">
							<span class="right-side">%</span>
						</div>
					</div>

					<div class="alert alert-danger alert-target" role="alert" ng-hide="targetF.pg.$valid">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span> insert a value between 0 and 100
					</div>

				</li>

				<li class="list-group-item">

					<div class="input-group target-input" ng-class="{'has-error' : !targetF.vg.$valid }">
						<div class="input-group-addon left-side">VG</div>
						<input type="number" class="form-control text-right" name="vg" min="0" max="100" step="1" ng-model="targetP.vg" required>
						<div class="input-group-addon">
							<span class="right-side">%</span>
						</div>
					</div>

					<div class="alert alert-danger alert-target" role="alert" ng-hide="targetF.vg.$valid">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span> insert a value between 0 and 100
					</div>

				</li>

				<li class="list-group-item">

					<div class="input-group target-input" ng-class="{'has-error' : !targetF.water.$valid }">
						<div class="input-group-addon left-side">Water</div>
						<input type="number" class="form-control text-right" name="water" min="0" max="100" step="1" ng-model="targetP.water" required>
						<div class="input-group-addon">
							<span class="right-side">%</span>
						</div>
					</div>

					<div class="alert alert-danger alert-target" role="alert" ng-hide="targetF.water.$valid">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span> insert a value between 0 and 100
					</div>

				</li>

			</ul>

			<div class="panel-footer"></div>

		</div>

	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

		<div class="panel panel-primary">

			<div class="panel-heading">
				<h3 class="panel-title">Flavoring</h3>
			</div>

			<table class="table table-condensed table-flavoring">

				<thead>
					<tr>
						<th id="name">Name</th>
						<th id="percentage">Percentage</th>
						<th id="pg">PG</th>
						<th id="vg">VG</th>
						<th id="add-remove"></th>
					</tr>
				</thead>

				<tbody class="flavoring-list">

					<tr ng-form="newFlavorF" ng-class="{'danger' : !newFlavorF.$valid}">
						<td>
							<div class="form-group flavor-name" ng-class="{'has-error' : !newFlavorF.name.$valid}">
								<input type="text" class="form-control" name="name" maxlength="12" ng-model="flavoringP.newFlavor.name" required>
							</div>
						</td>
						<td>
							<div class="input-group flavor-percentage" ng-class="{'has-error' : !newFlavorF.percentage.$valid}">
								<input type="number" class="form-control  text-right" name="percentage" min="0" max="100" step="1" ng-model="flavoringP.newFlavor.percentage" required>
								<div class="input-group-addon flavor-percentage"> % </div>
							</div>
						</td>
						<td class="pg-td flavor-pg">
							<input type="radio" name="composition" value="PG" ng-model="flavoringP.newFlavor.composition">
						</td>
						<td class="vg-td flavor-vg">
							<input type="radio" name="composition" value="VG" ng-model="flavoringP.newFlavor.composition">
						</td>
						<td class="add">
							<button type="button" class="btn btn-default btn-xs" ng-disabled="!newFlavorF.$valid" ng-click="add()">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</button>
						</td>
					</tr>

					<tr ng-form="flavoringF" ng-class="{'danger' : !flavoringF.$valid}" ng-repeat="flavor in flavoringP.flavorList">
						<td>
							<div class="form-group flavor-name" ng-class="{'has-error' : !flavoringF.name.$valid}">
								<input type="text" class="form-control" name="name" maxlength="12" ng-model="flavor.name" required>
							</div>
						</td>
						<td>
							<div class="input-group flavor-percentage" ng-class="{'has-error' : !flavoringF.percentage.$valid}">
								<input type="number" class="form-control  text-right" name="percentage" min="0" max="100" step="1" ng-model="flavor.percentage" required>
								<div class="input-group-addon flavor-percentage"> % </div>
							</div>
						</td>
						<td class="pg-td">
							<input type="radio" name="composition_{{$index}}" value="PG" ng-model="flavor.composition">
						</td>
						<td class="vg-td">
							<input type="radio" name="composition_{{$index}}" value="VG" ng-model="flavor.composition">
						</td>
						<td class="remove">
							<button type="button" class="btn btn-default btn-xs" ng-click="remove($index)">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
						</td>
					</tr>

				</tbody>

			</table>

			<div class="panel-footer"></div>

		</div>

	</div>

	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

		<div class="panel panel-primary">

			<div class="panel-heading">
				<h3 class="panel-title">Final eJuice composition</h3>
			</div>

			<div class="panel-footer"></div>

		</div>

	</div>

</div>